.area {
	max-width: 500px;
	margin: 0 auto;
}

.area .addnews input {
	max-width: 150px;
	font-weight: normal;
	margin: 0 auto;
	
}
.area .changepage{
	margin-top: 20px;
	display: inline;
	max-width: 150px;
}
.area .changepage ul{
	margin-top: 20px;
	display: inline;
	max-width: 150px;
}
.area .changepage ul li {
	margin-top: 20px;
	display: inline;
	max-width: 150px; 
}
.area .changepage ul li input {
	margin-top: 20px;
	max-width: 150px;
	display: inline;
}